* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: rgb(172, 172, 172);
}

nav h3 {
  font-size: 25px;
  letter-spacing: 4px;
  color: rgb(174, 243, 208);
  padding-left: 5%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
  font-size: 16px;
}






