* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Nav Bar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: rgba(95, 172, 235, 0.781);
}

.logo {
  cursor: pointer;
  font-size: 18px;
  text-transform: capitalize;
  color: rgb(243, 243, 243);
  padding: 5%;
  letter-spacing: 10px;
}

.logo:hover {
  color: rgb(15, 15, 240);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  text-decoration: none;
}

.nav-links li {
  list-style: none;
  font-size: 14px;
  cursor: pointer;
}

.nav-links li:hover li:visited {
  color: rgb(79, 104, 243);
  text-decoration: none;
}


/* Card */

.cards-container {
  background: red;
}

.cards {
  padding: 0 20px 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 calc(25% - 1em);
  margin-top: 10px;
  max-width: 350px;
  height: 400px;
  border-radius: 18px;
  border-color: rgba(16, 16, 228, 0.616);
  background-color: #fdfdfd;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}

.card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-text {
  justify-content: center;
}

.save-btn {
  outline: none;
  width: 25%; 
  margin-bottom: 10px;
  background-color: rgba(126, 178, 255, 0.863);
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7);
}

.save-btn:hover {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  background-color: rgba(0, 130, 236, 0.808);
}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .cards {
    width: 100%;
    display: block;
    padding: 10px;
  }

  .card {
    margin: auto;
    margin-bottom: 10px;
  }
}









