* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Nav Bar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: rgba(95, 172, 235, 0.781);
}

nav h3 {
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 4px;
  color: rgb(243, 243, 243);
  padding-left: 5%;
  letter-spacing: 12px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  text-decoration: none;
}

.nav-links li {
  list-style: none;
  font-size: 14px;
  cursor: pointer;
}

.nav-links li:hover li:visited {
  color: rgb(79, 104, 243);
  text-decoration: none;
}


/* Card */

.card {
  width: 400px;
  height: 350px;
  margin: 5% 0% 0% 5%;
  border-radius: 20px;
  background-color: rgba(109, 130, 151, 0.596);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
  padding: 10px 0 10px 0;
  width: 80%;
  height: 75%;
}

.card-text {
  padding-bottom: 10px;
}

.column {
  float: left;
  width: 25%;
  padding: 10px 0 15px 7px;
}

.row {
  margin: 0 -5px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}


/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */





